.repoItem {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  padding: 10px;
  border-radius: 12px;
  width: 100%;
  max-width: 650px;
  transition: 0.25s;

  &:hover {
    border-color: #646cff;
    background-color: rgba(83, 91, 242, 0.02);
  }
}